body {
  background-color: aqua;
}

.head {
  font-family: Georgia, Helvetica, sans-seriff;
  background-color: #7DF9FF;
  border: 2px solid black;
  text-align: center;
}

.aboutme {
  font-family: Georgia, Helvetica, sans-seriff;
  background-color: #7DF9FF;
  border: 2px solid black;
  text-align: center;
}

.aboutmeread {
  background-color: #7DF9FF;
}

.seasalt {
  font-family: Georgia, Helvetica, sans-seriff;
  background-color: #7DF9FF;
  border: 2px solid black;
  text-align: center;
}

.seasaltlist {
  background-color: #7DF9FF;
}

.townhall {
  font-family: Georgia, Helvetica, sans-seriff;
  background-color: #7DF9FF;
  border: 2px solid black;
  text-align: center;
}

.townhalllist {
  background-color: #7DF9FF;
}

.avex {
  font-family: Georgia, Helvetica, sans-seriff;
  background-color: #7DF9FF;
  border:2px solid black;
  text-align: center;
}

.education{
  font-size: 13px;
  font-family: Georgia, Helvetica, sans-seriff;
  background-color: #7DF9FF;
  border:2px solid black;
  text-align: center;
}
